/*-----------------------
  -      COLORS         -
------------------------*/

$font-color :  #797979;
$header-font-color : #818181;
$second-font-color :#A4A4A4;
$background-color:  #eff4f8;
$content-background-color : #ffffff;
$error-color : #fb333d;
$success-color : #27ae60;
$warning-color : #f0ad4e;
$valid-color : #4bbdc7;
$yellow-color : $warning-color;
$orange-color : #F96605;
$red-color:#fb384a;
$danger-color:#c0392b;
$border-color : #ebebeb;
$border-alt-color:#dddddd;
$disabled-color : #f4f4f4;
$blue-color : #2d3b9c;
$input-blue-color : #7297e6;
$black-font-color : #333333;
$alt-row-color: #f2f2f2;
$light-blue: #798ee1;
$border-color-2:#ebf1f6;
$medium-gray:#b1b8bd;
$medium-gray-darker:#8b9297;

/*------ FONT FAMILY ----------*/
$font-family :  "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
